* {
  box-sizing: border-box;
  text-shadow: 1px 1px 5px rgba(99, 99, 99, 0.8);
  font-family: 'Montserrat', sans-serif;
}

html body { 
  height:100%;
  background-size: cover;
}

.my-navbar {
  background-color: transparent !important;
  z-index: 100;
}

a {
  color: white;
  padding: 2%;
}

.nav-item {
  padding: 15px;
  display: inline;
  letter-spacing: 3px;
}

.my-container {
  width: 100vw;
  height: 100vh;
  background-size:cover;
  position: absolute;
}

.weather-card {
  width: 800px;
  height: 600px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.weather-card--cityname {
  margin-top: 3%;
  color: white;
  text-align: center;
}
  
.weather-card--cityname h1 {
  font-size: 3em;
  letter-spacing: 2px;
  position: relative;
}

.weather-card--details {
  color:white;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  margin-top: 15%;
}

.weather-card--temperature {
  width: 100%;
  text-align:center;
  margin-top: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5em; 
}

.weather-card--temperature ul p {
  display: inline-block;
  width: 20%;
  float: left;
  text-align: center;  
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-temp {
  font-size: 1em;
  font-weight: 100;
  align-items: center;
  justify-content: center;
}

.mid-temp {
  font-size: 1.5em;
}

.current-temp {
  font-size: 3em;
  position: relative;
}